<!DOCTYPE html>
<html lang="en">
{{!-- header --}}

{{> head}}

<body>

      {{!-- navbar --}}
      {{> navbar}}
      <div class="container">
      {{!-- body --}}
      {{{ body }}}

      </div>
      {{!-- footer --}}

      {{> footer}}
</body>
</html>