<div class="w-25 mx-auto">

<form action="/login" method="post">
      
      <h1 class="h3 mb-3 fw-normal text-center">Login</h1>

      <div class="form-floating">
            <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
      </div>

      <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                  Remember me
            </label>
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
      <p class="mt-5 mb-3 text-body-secondary text-center">© 2017–2023</p>
</form>
</div>
