<div class="w-25 mx-auto">

      <form action="/register" method="post">

            <h1 class="h3 mb-3 fw-normal text-center">Register</h1>

            <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="first-name" id="floatingInput"
                        placeholder="Behruz">
                  <label for="floatingInput">Fisrt Name</label>
            </div>
            <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="last-name" id="floatingInput"
                        placeholder="Aliyev">
                  <label for="floatingInput">Last Name</label>
            </div>
            <div class="form-floating mb-3">
                  <input type="email" class="form-control" name="email" id="floatingInput"
                        placeholder="name@example.com">
                  <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                  <input type="password" class="form-control" name="password" id="floatingPassword"
                        placeholder="Password">
                  <label for="floatingPassword">Password</label>
            </div>

            
            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            
      </form>
</div>